.App {
  background-image: url("./assets/bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column ;
}

/* .content {
  height: calc(100vh - 1rem);
} */

a{
  text-decoration: none;
  color: unset;
}

.display-picture{
  width: 120px;
  height: 120px;
  border: 5px solid;
  border-radius: 90px;
  border-color: rgb(0, 0, 0);
  display: flex;
}

.link-page {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 2rem;
}

.link-tab {
  width: calc(100% - 70px);
  max-width: 350px;
  height: 60px;
  border: 5px solid;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  opacity: 0.88;
  font-family: 'Quicksand';
  color: rgba(255, 255, 255, 0.845);
  font-weight: 900;
  transition: background-color 0.3s ease-in-out;
}

.name {
  font-family: 'Poppins', 'ExtraLight';
  font-weight: 500;
  text-align: center;
  font-size: 50px;
  color: red;
  display: flex;
}

.bio
{
  font-family: 'Oswald', 'Oswald-ExtraLight';
  font-style: normal;
  font-weight: 50;
  text-align: center;
  font-size: 25px;
  color: rgb(174, 174, 202);
  padding-top: 7px;
  opacity: .50;
  margin: 4px;
}
.header
{
  top: 0px;
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
}

.header button
{
  border: 0px;
  background-color: unset;
  color: white;
  margin: 10px;
  font-family: 'Poppins', 'ExtraLight';
}

.me-h
{
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: 0.5px solid black;
  background-image: url("./assets/dp.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bad
{
  height: '240px';
  width: '150px';
  margin: '10px';
  background-color: 'white';
}

.badge {
  height: 100%;
  overflow-y: auto;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center
}

.badge::-webkit-scrollbar{
  width: 0px;
}

.badge a {
  display: flex;
  height: 240px;
  margin: 20px;
  width: 150px;
  background-color: #fff;
  border-radius: 3px
}

.project {
  width: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: 5px solid #ffffff42;
  border-radius: 5px;
  margin: 10px;
  color: #fff;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.project:hover {
  border: 5px solid #ffffff;
  padding: 15px;
}

.project-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
  margin-top: 0px;
  overflow-y: auto;
  height: calc(100vh - 90px);
  scrollbar-width: 0px;
  width: 100vw;
}

.project-page::-webkit-scrollbar
{
  width: 0px;
}

.project-img {
  height: 100px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.project-title {
  font-family: 'Poppins', 'ExtraLight';
  font-weight: 500;
  text-align: center;
  display: flex;
}

.project-desc {
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.651);
  padding: 3px;
}

.project-link {
  text-align: center;
  font-size: 9px;
  color: rgba(255, 255, 255, 0.651);
  padding: 3px;
  transition: 0.3s ease-in;
}

.project-link:hover {
  color: rgba(255, 255, 255);
  font-size: 12px;
  text-decoration: underline;
}

.footer {
  bottom: 9px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  margin: 2px;
}

/* media query to disable footer if width goes below 627 */
@media (max-width: 628px)
{
  .footer {
    display: none;
  }
}

.footer-text {
  font-family: 'Poppins', 'ExtraLight';
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  color: rgb(174, 177, 221);
  display: flex;
  position: absolute;
  z-index: 5;
}

.project-sc-pg {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100vh - 90px);
  scrollbar-width: 0px;
  width: 100vw;
}

.project-sc{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc((clamp(120px, 90%, 600px)) - 20px);
  padding: 20px;
  background-color: rgba(88, 88, 88, 0.414);
  border-radius: 10px;
  border: #ff8383 solid 2px;
  animation: breathe 3s infinite ;
}

@keyframes breathe
{
  0% {
    box-shadow: 0 0 15px #750707, 0 0 25px #8d0505d4, 0 0 35px #b2080895, 0 0 45px #df10105c;
  }
  50% {
    box-shadow: 0 0 10px #f47676, 0 0 20px #be6e6ec8, 0 0 30px #6e3333d2, 0 0 40px #562727d3;
  }
  100% {
    box-shadow: 0 0 15px #750707, 0 0 25px #8d0505d4, 0 0 35px #b2080895, 0 0 45px #df10105c;
  }
}

@media (max-width: 796px)
{
  .project-sc {
    margin-top: 65px;
  }
  
}

.project-sc-title {
  font-family: 'Poppins', 'ExtraLight';
  color: #fff;
  font-size: 2rem;
  text-decoration: underline;
}

.project-sc-desc {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.779);
}

.project-sc-links {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.651);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-sc-r_link {
  color: rgba(255, 255, 255, 0.651);
  transition: all 0.2s ease-in;
}

.project-sc-r_link:hover {
  color: rgba(255, 255, 255);
  font-size: 12px;
  text-decoration: underline;
}

.project-sc-l_link {
  color: rgba(255, 255, 255, 0.651);
  transition: all 0.2s ease-in ;
}

.project-sc-l_link:hover {
  color: rgba(255, 255, 255);
  font-size: 12px;
  text-decoration: underline;
}

.project-sc-tech {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.651);
  align-self: flex-end;
}

.carousel-root {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.back-btn {
  position: absolute;
  top: 100px;
  left: 10px;
  margin-left: 0px;
  margin: 10px;
  padding: 5px 7px;
  border: 2px solid rgba(255, 255, 255, 0.615);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.151);
  color: white;
  z-index: 6;
  font-family: poppins;
  transition: all 0.2s ease-in-out;
}

.back-btn:hover {
  padding: 6px 10px;
  border: 2px solid rgba(255, 255, 255, 0.944);
}





/* Animationsssss */
.slide-in-left {
  padding-top: 90px;
	-webkit-animation: slide-in-left 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.130) both;
	        animation: slide-in-left 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.130) both;
}
.slide-in-right {
  padding-top: 90px;
	-webkit-animation: slide-in-right 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.130) both;
	        animation: slide-in-right 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.130) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}